<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form  action="/login" method="POST"> 
        <label for="username"> Enter your username</label>
        <input id = "username" type="text" name = "username" placeholder="type your username">
        <br>
        <label for="password"> Enter your password</label>
        <input id = "password" type="password" name = "password" placeholder="type your password">
        <button >Login yaaaaa</button>
    </form>
    <br>
    <br>
    <form action="/logout" method="POST">
        <button>Loout karo yaar</button>
    </form>
    
</body>
</html>